.card {
    background-color: var(--mantine-color-body);
}

.avatar {
    border: rem(4px) solid var(--mantine-color-body);
}
.link {
     color: var(--mantine-color-yellow-filled);
    text-decoration: none;
}
