.wrapper {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
}

.item {
    display: flex;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.itemSubTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.title {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
    font-size: rem(38px);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(28px);
        text-align: left;
    }
}

.description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
}

.highlight {
    background-color: var(--mantine-color-blue-light);
    padding: rem(5px);
    padding-top: 0;
    border-radius: var(--mantine-radius-sm);
    display: inline-block;
    color: light-dark(inherit, var(--mantine-color-white));
}